*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 18px;
  font-family: var(--font1);
}
:root{
--soft-red: hsl(7, 99%, 70%);
--soft-red-opacity: hsla(7, 99%, 70%, 0.346);
--yellow: hsl(51, 100%, 49%);
--yellow-opacity:hsla(51, 100%, 49%, 0.351);
--dark-desaturated-cyan: hsl(167, 40%, 24%);
--dark-blue: hsl(198, 62%, 26%);
--dark-moderate-cyan: hsl(168, 34%, 41%);
--very-saturated-cyan: hsl(165, 48%, 74%);
--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
--font1: 'Fraunces', serif;
--font2:'Barlow', sans-serif;
}
.container{
  padding: 35px 0;
  width: 90%;
  margin: 0 auto;
}
.hero{
  background-image: url(../images/mobile/image-header.jpg);
  height: 540px;
  background-size: contain;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__main{
  text-align: center;
}
.nav__title{
  margin:  50px 0;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  color: var(--white);
}
.main__section{
  text-align: center;
  background-color: var();
}
.main__img{
  height: 312px;
}
.main__paragraph{
  height: 435px;
  padding: 62px 20px;
  font-size: 24px;
  text-align: center;
}
.section__paragraph{
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-grayish-blue);
  font-family: var(--font2);
  margin-bottom: 32px;
}
.section__title{
  padding: 0 20px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 900;
  color:var(--very-dark-desaturated-blue)
}
.section__cta{
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration:none;
  position: relative;
  color:var(--very-dark-desaturated-blue)
}
.section__cta::before{
  content: '';
  border-radius: 12px;
  position: absolute;
  background-color: var(--yellow-opacity);
  width: 130px;
  height: 8px;
  text-decoration:none;
  left: -8px;
  bottom: 0;
  z-index: -1;
}
.section__cta--active::before{
  background-color: var(--soft-red-opacity);
}
.section__container{
  height:1200px;
}
.section__content{
  height: 600px;
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-position: center;
  background-size: contain;
  text-align: center;
  color: var(--dark-desaturated-cyan);
  padding-top:400px;
  
}
.section__content--active{
  background-image: url(../images/mobile/image-photography.jpg);
  color: var(--dark-blue);
}
.content__title{
  font-weight: 900;
  margin-bottom: 32px;
}
.content__paragraph{
  font-family:var(--font2) ;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.testimonial{
  text-align: center;
  height: 1250px;
  padding: 20px;
  font-family: var(--font2);
}
.testimonial__title{
  font-size: 18px;
  margin-top: 44px;
  font-family: var(--font1);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grayish-blue);
}
.section__testimonial{
  margin-top: 80px;
}
.testimonial__img{
  border-radius: 50%;
  width: 70px;
}
.testimonial__paragraph{
  margin-top: 28px;
  margin-bottom: 28px;
  color: var(--very-dark-grayish-blue);
  line-height: 32px;
}
.testimonial__name{
  display: block;
  font-family: var(--font1);
  font-weight: 900;
  margin-bottom: 10px;
  color:var(--dark-blue)
}
.testimonial__career{
  display: block;
  font-size: 15px;
  color:var(--grayish-blue)
}
.gallery{
  height: 376px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.gallery__img{
  width: 188px;
  height: 188px;
}
.footer{
  height: 346px;
  background-color:var(--very-saturated-cyan);
  padding: 65px 40px;
  text-align: center;
}
.footer__logo{
  width: 160px;
  margin-bottom: 40px;
}
.footer__container__cta{
 display: flex;
 justify-content: space-between;
 margin-bottom: 84px;
}
.footer__cta{
  text-decoration: none;
  font-family: var(--font2);
  font-weight: 900;
  color:var(--dark-moderate-cyan)
}
.footer__cta__icons{
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 768px){
  .hero{
    background-image: url(../images/desktop/image-header.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
  }
  .nav__title{
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 52px;
    
  }
  .nav__logo{
    width: 180px;
    margin: 20px 0;
  }
  .main__section{
    text-align: center;
    display: flex;
    height: 100%;
    max-height: 600px;
    align-items: center;
  }
  .main__section--reverse{
    flex-direction: row-reverse;
  }
  .main__paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 600px;
    margin: auto 0;
    padding-left: 10%;
    text-align: left;
  }
  .section__title{
    font-size: 44px;
    padding: 0;
    width: 80%;
  }
 .section__paragraph{
   width: 80%;
   font-size: 18px;
 }
  .main__img--desktop{
   opacity: 0;
  }
  .main__img{
    height: 600px;
    max-height: 600px;
    width: 50%;
    max-width: 720px;
  }
  .main__img--first{
    background-image: url(../images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
  }
  .main__img--second{
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
  }
  .section__container{
    height:600px;
    display: flex;
  }
  .section__content{
    width: 50%;
    height: 600px;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    padding: 0 12%;
    padding-top:400px;
  }
  .section__content--active{
    background-image: url(../images/desktop/image-photography.jpg);
  }
  .testimonial{
    text-align: center;
    height: 780px;
    padding: 120px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .testimonial__title{
    width: 100%;
    height: 20px;
    font-size: 26px;
  }
  .section__testimonial{
    margin-top: 10px;
    width: 30%;
  }
  .testimonial__img{
    border-radius: 50%;
    width: 80px;
  }
  .testimonial__paragraph{
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;
  }
  .testimonial__name{
    font-size: 22px;
  }
  .gallery{
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .img--opacity{
    opacity: 0;
  }
  .gallery__img{
    width: 25%;
    height: 450px;
  }
  .gallery__img--desktop--first{
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    background-position: center;
    background-size: cover;
  }
  .gallery__img--desktop--second{
    background-image: url(../images/desktop/image-gallery-orange.jpg);
    background-position: center;
    background-size: cover;
  }
  .gallery__img--desktop--third{
    background-image: url(../images/desktop/image-gallery-cone.jpg);
    background-position: center;
    background-size: cover;
  }
  .gallery__img--desktop--fourth{
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center;
    background-size: cover;
  }
  .footer__container__cta{
    justify-content: center;
    gap: 42px;
  }
}